<html>
<head>
    <title>Simple Task Manager</title>
    <style>
    table, td {
       border: 1px solid black;
    }
   .head {
    text-align: center;
    }
</style>

<script type="text/javascript">
    window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
        theme: "light1", // "light1", "light2", "dark1", "dark2"
        title: {
            text: "Chart Kemiripan Dokumen"
        },
        subtitles: [{
            text: " ",
            fontSize: 17
        }],
        axisY: {
            suffix: " %",
            scaleBreaks: {
                customBreaks: [{
                }]
            }
        },
        data: [{
            type: "column",
            yValueFormatString: "#,## %",
            dataPoints: [
            {% for vis in data %}
            {% if vis[1] != 0.0 %}
            { label: "{{ vis[0] }}", y: {{ vis[1] }} },
            {% endif %}    
            {% endfor %}    
            ]
        }]
    });
        chart.render();
    }

    function myFunction() {
    var x = document.getElementById("chartContainer");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
} 
</script>
</head>
<body>
    <div class="head">
        <h1>SIMPLE SEARCH ENGINE</h1> 
    </div>
    <div align="center">
        <form method="POST">
            {{ sform.hidden_tag() }}
            <fieldset>
                <legend align="center">Inputkan Query</legend>
                {{ sform.keyword }} 
                {{ sform.search }}
            </fieldset>
        </form>
    </div>
    {% if counter!=0 %}
    <div id="timer">menampilkan {{ counter }} hasil dalam {{ data1 }} detik</div>
    {% else %}
    <div id="timer">menampilkan {{ counter }} hasil dalam 0 detik</div>
    {% endif %}
    <br>
    <div id="chartContainer" style="height: 300px; width: 100%; align: right"></div>
    <br>
    <div align="center">
        <b>Document Result:</b><br><br>
        <table>
            <tr>
                <td style="text-align:center">Judul</td>
                <td style="text-align:center">Presentase Kemiripan</td>
                <!-- <td style="text-align:center">Isi Doc Asli</td> -->
                <td style="text-align:center">Baris Dokumen</td>
                <!-- <td style="text-align:center">Aksi</td> -->
            </tr>
            {% for v in data%}
            {% if v[1] != 0.0 %}
            <tr>
                <td style="text-align:center"><a href= "text_files/{{ v[0] }}"> {{v[0]}}</a></td>
                <td style="text-align:center">{{ v[1] }}%</td>
                <!-- <td style="text-align:center">{{ v[2] }}</td> -->
                <td style="text-align:center">{{ v[2] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
</body>
</html>
